ENV=development
LOG_LEVEL=info
HTTP_PORT=8080
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=10s
HTTP_SHUTDOWN_TIMEOUT=15s
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_pass
POSTGRES_DB=my_db
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_CONNS=10
